@import "../styles/variables";
@import "../styles/mixins";

.hero {
  &__layer {
    top: 0;
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__content {
    max-width: 1000px;
    position: relative;
    display: flex;
    gap: 32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include max-width(1024px) {
      max-width: 500px;
    }
    @include max-width(768px) {
      max-width: 300px;
    }
  }

  &__title {
    text-align: center;
    font-family: Inter;
    font-size: 80px;
    font-style: normal;
    font-weight: 300;
    line-height: 88px; /* 110% */
    letter-spacing: -0.8px;
    background: linear-gradient(
      97deg,
      #8c80fb 12.6%,
      #9abdff 25.8%,
      #fff 71.02%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @include max-width(1024px) {
      font-size: 48px;
      line-height: 46px;
    }

    @include max-width(768px) {
      font-size: 32px;
      line-height: 30px;
    }
  }

  &__text {
    max-width: 805px;
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    font-family: "Inter";
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding-bottom: 32px;
  }
}

.block {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  @include max-width(1024px) {
    padding: 00px 0 160px 0;
    height: auto;
  }

  &__text {
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-family: "Inter";
    font-size: 38px;
    font-style: normal;
    font-weight: 300;
    line-height: 56px; /* 147.368% */
    letter-spacing: 0.76px;
    max-width: 875px;
    @include max-width(1024px) {
      max-width: 80%;

      font-size: 32px;
      line-height: 36px;
    }

    @include max-width(768px) {
      max-width: 80%;
      font-size: 24px;
      line-height: 30px;
    }
  }

  &__purple {
    color: #929cfd;
    font-family: "Inter";
    font-size: 38px;
    font-style: italic;
    @include max-width(1024px) {
      font-size: 32px;
      line-height: 40px;
    }

    @include max-width(768px) {
      font-size: 24px;
      line-height: 38px;
    }
  }
}

.works {
  display: flex;
  padding: 80px 200px 120px 200px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  @include max-width(1024px) {
    padding: 40px 80px 40px 80px;
  }
  @include max-width(768px) {
    padding: 40px 40px;
    gap: 16px;
  }

  h2 {
    color: #fff;
    text-align: center;
    font-family: "Inter";
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 142.857% */
    text-transform: uppercase;
    @include max-width(768px) {
      font-size: 24px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    align-self: stretch;
    @include max-width(768px) {
      gap: 16px;
    }
  }
}

.block {
  opacity: 0;
  transform: translateY(60px);
  transition: all 2s;
}

.blockVisible {
  opacity: 1;
  transform: translateY(0);
}
