@import "../styles/variables";
@import "../styles/mixins";
.modal {
  position: absolute;
  z-index: 1000;
  left: 0;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.773);
}

.modal__content {
  position: relative;
  background-color: $black-color;
  margin: 15% auto;
  padding: 32px;
  padding-top: 64px;
  border: 0.5px solid #888;
  width: 50%;
  border-radius: 16px;
  @include max-width(768px) {
    width: 80%;
    padding: 16px;
    margin-top: 120px;
    padding-top: 56px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  label {
    color: white;
    display: flex;
    gap: 8px;
    flex-direction: column;
    font-family: $inter;
    font-size: 16px;
    text-align: left;
  }

  input,
  textarea {
    color: rgb(134, 134, 134);
    background-color: black;
    border-radius: 8px;
    padding: 8px 16px;
    border: 0.5px solid #888;
    font-family: $inter;
    font-size: 14px;

    &:focus {
      border: 0.5px solid #ffffff;
    }
  }
}

.close {
  position: absolute;
  right: 32px;
  top: 24px;
  color: #ffffff;
  float: right;
  font-size: 28px;
  font-weight: normal;
  @include max-width(768px) {
    right: 16px;
    top: 16px;
  }
}

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
}

button {
  position: relative;
  cursor: pointer;
  background-color: $bg-button-color;
  width: 240px;
  height: 60px;
  border-radius: 100px;
  border: 0.5px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.444);
  color: $white-color;
  font-family: $inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border 0.3s ease; // Transition for border color
  clip-path: stroke-box;

  &:hover {
    border: 0.5px solid rgba(255, 255, 255, 0.528);
  }

  @media (max-width: 48rem) {
    width: 9.47475rem;
    height: 2.8rem;
    font-size: 14px;
  }

  .button__ellipse_left,
  .button__ellipse_right {
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    filter: blur(20px);
    transition: transform 5s linear;
  }

  .button__ellipse_left {
    top: -100px;
    left: -20px;
  }

  .button__ellipse_right {
    bottom: -100px;
    right: -20px;
  }

  &:hover .button__ellipse_left {
    transform: translate(300px, 50px);
  }

  &:hover .button__ellipse_right {
    transform: translate(-300px, -50px);
  }
}
