@import "../styles/variables";
@import "../styles/mixins";

.footer {
  display: flex;
  justify-content: space-between;
  padding: 40px 40px;
  @include max-width(768px) {
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

  &__links {
    display: flex;
    gap: 40px;

    @include max-width(768px) {
      flex-direction: column;
      align-items: center;
      gap: 8px;
    }
  }

  &__copy,
  &__link {
    color: $main-text-color;
    font-family: $inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    @include max-width(768px) {
      font-size: 14px;
    }
  }
  &__copy {
    color: $tertiary-text-color;
  }
}
